  <div id="menu">
    <nav class="menubuttons">
      <div class="list-item">
        <a href="index">About Me</a>
      </div>
      <div class="list-item">
        <a  href="music">Music</a>
      </div>
      <div class="list-item">
        <a  href="blog">Blog</a>
      </div>
      <div class="list-item">
        <a  href="photos">Photos</a>
      </div>
      <div class="list-item">
        <a  href="notes">Notes</a>
      </div>
    </nav>

    <img id="logo" src="ind_img/adonocolor.svg">
    <div id="clock"></div>
    <div id="authorization">
    <form id="auth-form">
        <input class="auth-item" placeholder="Username" type="text" id="username" name="username">
        <input class="auth-item"  placeholder="Password" type="password" id="password" name="password"
               minlength="8" required>
      <button id="sign-in" class="auth-item" type="submit">Sign in</button>
    </form>
    </div>
  </div>