  <div id="menu">
    <nav class="menubuttons">
      <div class="list-item">
        <a href="index">Ado</a>
      </div>
      <div class="list-item">
        <a  href="posts">Posts</a>
      </div>
      <div class="list-item">
        <a  href="create">Create</a>
      </div>
    </nav>

    <img id="logo" src="ind_img/adonocolor.svg">
    <div id="clock"></div>
    {{#if auth}}
      {{> signButtons }}
    {{/if}}
  </div>