<div id="authorization">
  <button onclick='' id="sign-in" class="auth-item" type="button">Sign in with Google</button>
  <button id="sign-in" class="auth-item" type="button" onclick="window.location.href = 'auth-form';">Sign in</button>
  <p>Don't have a profile? <a href="register">Sign up</a></p>
</div>


<style>
  #authorization button {
    width: 200px;
  }
</style>