<div id="authorization">
  <form id="auth-form">
    <input class="auth-item" placeholder="Username" type="text" id="username" name="username">
    <input class="auth-item"  placeholder="Password" type="password" id="password" name="password"
           minlength="8" required>
    <button id="sign-in" class="auth-item" type="submit">Sign in</button>
  </form>
  <p id="auth-quest">Don't have a profile? <a href="register">Sign up</a></p>
</div>

<style>
  #authorization {
    height: 100vh;
  }
  #auth-form button {
    width: 200px;
  }
</style>