<div class="contact">

  <h2 class="contact_post_title">Contacts</h2>
  <div class="contact_post_info">
    <p>@adonocolor<p>
    <p>adonocolor@gmail.com</p>
    <p>adonocolor everywhere.</p>
  </div>
</div>