<nav id="creating" class="menubuttons">
  <div class="list-item">
    <a href="create-post">Create Post</a>
  </div>
  <div class="list-item">
    <a  href="create-category">Create Category</a>
  </div>
</nav>

<style>
  .menubuttons#creating {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
</style>