<div class="sign-container">
  <div class="sign">
    <h2 class="sign_title">Hey! I'm Ado!</h2>
    <div class="sign_info">
      <p>Here's what I make:</p>
    </div>
  </div>
</div>

<div class="contents-album">
  <h2 class="project_title"><b>Dreaming of Silence in Mono*</b></h2>

  <div class="tracklist">
    <aside class="tracklistmenu">
      <a>Track 1</a>
      <a>Track 2</a>
      <a>Track 3</a>
      <a>Track 4</a>
      <a>Track 5</a>
    </aside>

    <img class="alb" src="ind_img/mono.png" alt="Working title for an album Dreaming of Silence in Mono*">

    <aside class="credits">
      <p><i>Written & Produced by <a class="artist_name" href="https://soundcloud.com/adonocolor">Ado No Color (M. Ivanov)</a><br>
        Recorded at Leninsky Avenue Studios</i></p>
    </aside>
  </div>
</div>

<div class="contents-album">
  <h2 class="project_title"><b>*Stereo Echo</b></h2>
  <div class="tracklist">
    <aside class="tracklistmenu">
      <a>Track 1</a>
      <a>Track 2</a>
      <a>Track 3</a>
      <a>Track 4</a>
      <a>Track 5</a>
    </aside>

    <img src="ind_img/shining.jpg" class="alb" alt="Working title for an album Dreaming of Silence in Mono*">

    <aside class="credits">
      <p><i>Written & Produced by <a class="artist_name" href="https://soundcloud.com/adonocolor">Ado No Color (M. Ivanov)</a><br>
        Recorded at Leninsky Avenue Studios</i></p>
    </aside>
  </div>
</div>