<!--        Based layout for swiper.js components -->
<main>
<div class="swiper-container">
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <h2 class="project_title"><b>Dreaming of Silence in Mono*</b></h2>
      <img src="ind_img/mono.png" alt="album"/>
    </div>

    <div class="swiper-slide">
      <h2 class="project_title"><b>*Stereo Echo</b></h2>
      <img src="ind_img/shining.jpg" alt="album"/>
    </div>
  </div>
</div>
</main>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="scripts/coverSwiper.js"></script>