<div class="wrapper">
  <h1>What Do You Think About?</h1>
  <div class="header">
    <input type="text" placeholder="I think of..." id="toDoE1">
    <span class="addBtn" onclick="newElement()">Add</span>
  </div>
  <ul id="list">

  </ul>
</div>
<script src="scripts/form.js"></script>