<main>
<div id="loadTime"></div>
<div class="gallery-container">
  <h1 class="gallery">Gallery</h1>
  <div class="preloader"></div>
  <div class="error">Error loading needed data</div>
  <ul class="gallery-ul"></ul>
  <div class="pages-nav">
    <button class="previous-button">Prev.</button>
    <div class="page-number">1</div>
    <button class="next-button">Next</button>
  </div>
</div>
</main>

<script src="scripts/photos.js"></script>