<div id="create-user">
<form target="_blank" class="form-item" id="create-user-form" method="POST" action="/user/" onsubmit="window.location.href = 'index';">

  <label>
    <input placeholder="Username"  class="form-item" type="text" name="username"></input>
  </label>

  <label>
    <input placeholder="First Name" class="form-item"  type="text" name="firstName"></input>
  </label>

  <label>
    <input placeholder="Last Name" class="form-item" type="text" name="lastName"></input>
  </label>

  <label>
    <input placeholder="Description" class="form-item" type="text" name="description"></input>
  </label>

  <label>
    <input placeholder="Password" class="form-item" type="password" name="password"></input>
  </label>

  <button class="form-item" type="submit">Register</button>
  <button class="form-item" type="button" onclick="window.location.href = 'index';">Go back</button>
</form>
</div>

<script src="public/googleSign.js"></script>

<style>
  #create-user {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #create-user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .form-item {
    font-family: 'Inconsolata', monospace;
    border: none;
    height: 30px;
    width: 300px;
    border-radius: 7px;
    margin-top: 10px;
  }

  button.form-item {
    height: 50px;
    width: 70px;
    font-weight: bold;
  }
</style>